.pager a {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #ced3d9;
    background: #f5f7fa;
    margin: 0 2px;
    border-radius: 3px;
    text-decoration: none;
    color: #222;
    vertical-align: top
}

.pager a:hover {
    background: #e6ecf2;
    text-decoration: none
}

.pager a .micon {
    cursor: pointer
}

.pager a.main {
    background: #e64545;
    border-color: #e64545;
    color: #fff
}

.pager a.main:hover {
    background: #d92121
}

.pager .dot,.pager .current {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    padding: 0 6px
}

.pager .current {
    min-width: 18px;
    color: #e64545;
    text-align: center
}

.pager .disClick {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin: 0 2px;
    border-radius: 3px;
    text-decoration: none;
    vertical-align: top;
    cursor: not-allowed;
    background: #edf0f2;
    border: 1px solid #dae0e6;
    color: #b2b2b2
}

.pager .disClick .micon {
    line-height: 28px
}

.pager a[disabled] {
    cursor: not-allowed;
    background: #edf0f2;
    border: 1px solid #dae0e6;
    color: #b2b2b2
}

.pager a[disabled] .micon {
    cursor: not-allowed
}

.pager .micon {
    margin-right: 0;
    line-height: 28px
}

.pager .page-main {
    background: #e64545;
    border: 1px solid #e64545;
    color: #fff
}

.pager .page-main:hover {
    border-color: #d92121;
    background: #d92121
}

.pager-simple .pager-box {
    display: inline-block;
    width: 67px;
    height: 28px;
    border: 1px solid #ced3d9;
    border-radius: 3px;
    vertical-align: top;
    overflow: hidden;
    font-size: 0
}

.pager-simple .pager-box a,.pager-simple .pager-box button {
    float: left;
    width: 33px;
    text-align: center;
    line-height: 28px;
    height: 28px;
    background: #f5f7fa;
    color: #555;
    border: 0
}

.pager-simple .pager-box a:hover,.pager-simple .pager-box button:hover {
    background: #e6ecf2
}

.pager-simple .pager-box a:first-child,.pager-simple .pager-box button:first-child {
    border-right: 1px solid #ced3d9
}

.pager-simple .pager-box button:first-child {
    width: 34px
}

.pager-simple .pager-box .micon,.pager-simple .pager-box .ob-icon {
    margin-right: 0
}

.pager-simple .page-num {
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
    color: #555;
    margin-right: 6px
}