body{
    font-size: 14px !important;
}
.grid{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 100px;
}
h3{
    margin-bottom: 20px;
    margin-top: 50px;
}
.demo-block {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: .2s;
    margin-bottom: 50px;
}

.demo-layout .source {
    padding: 24px;
}

.demo-layout .ft-row {
    margin-bottom: 20px;
}

.demo-layout .ft-row:last-child {
    margin-bottom: 0;
}

.demo-layout .bg-purple-dark {
    background: #99a9bf;
}

.demo-layout .bg-purple {
    background: #d3dce6;
}

.demo-layout .grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.demo-layout .bg-purple-light {
    background: #e5e9f2;
}

.demo-row-space-l{
    display: block;
    width: 100%;
    height: 20px;
}

.demo-row-space{
    display: block;
    width: 100%;
    height: 10px;
}

.demo-line-space-s{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ebebeb;
}

.demo-line-space{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ebebeb;
}


.typography-item {
    display: block;
    margin-right: 30px;
    margin-bottom: 5px;
}
.demo-typography{
    border: 1px solid #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}
.demo-typography .font{
    font-size: 48px;
}
.font-typography{
    color: #888;
    border-top: 1px solid #ebebeb;
}

.demo-icon-style-list {
    display: flex;
    flex-wrap: wrap;
}

.demo-icon-style-item {
    flex: 0 1 31%;
    font-size: 16px;
    white-space: normal;
    margin-bottom: 5px;
}

.demo-icon-style-item span {
    display: inline-block;
}

.demo-btn-wrap .ft-btn{
    margin-right: 7px;
}
.demo-color-bar{
    border-radius: 4px;
    height: 40px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.demo-color-text-top{
    font-size: 14px;
}
.demo-color-text-bt{
    color: #888;
    font-size: 12px;
}
.demo-color-item{
    margin-bottom: 15px;
}
.demo-color-type{
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -15px !important;
}


.demo-layout-footer,
.demo-layout-header {
    background-color: #b3c0d1;
    color: #333;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
}
.demo-layout-main{
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 160px;
}
.demo-layout-aside {
    background-color: #d3dce6;
    text-align: center;
    line-height: 200px;
}