@import "~@future/core/src/style/base/variables";

@mixin picker($namespace) {
    .#{$namespace} {
        min-width: 80px;
        border: 1px solid $--color-border-button;
        border-radius: 4px;
        background: $--color-white;

        color: $--color-text-primary;
        font-size: $--font-size-base;
        line-height: 1.5;

        display: inline-block;

        position: relative;

        &-none-border {
            border: 0 none;
        }

        &.hover, &:hover {
            border-color: $--color-grey;
        }

        &.focus, &.open {
            border-color: $--color-blue;
        }

        &.error {
            border-color: $--color-red;
        }

        &.disabled {
            cursor: not-allowed;
            color: $--font-color-disabled-base;
            border: 1px solid $--color-border-button;
            background: $--color-background-regular;

            &.hover, &:hover {
                border-color: $--color-border-button;
            }

        }
    }


    .#{$namespace}-input {
        padding: 5px 10px;
        width: 100%;
        box-sizing: border-box;

        display: flex;
        align-items: center;

        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;

        @at-root .#{$namespace}.disabled & {
            cursor: not-allowed;
        }
    }

    .#{$namespace}-input-inner {
        width: 0;
        flex-grow: 1;

        white-space: nowrap;
        overflow: hidden;
        user-select: none;


        @at-root .#{$namespace}.disabled & {
            cursor: not-allowed;
        }

        @at-root .is-placeholder & {
            color: $--color-grey;
        }

        @at-root .#{$namespace}.disabled .is-placeholder & {
            color: $--color-text-placeholder;
        }
    }

    .#{$namespace}-tools {
        line-height: 1;
        box-sizing: content-box;

        color: $--color-grey;
        font-size: 0;

        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .#{$namespace}-arrow {
        font-size: 20px;
        transition: transform .2s ease;

        @at-root .#{$namespace}.open & {
            transform: rotate(180deg);
        }
    }
    .#{$namespace}-clear{
        font-size: 16px;
        display: none;
    }

    .#{$namespace}-with-clear {
        &:hover {
            .#{$namespace}-clear {
                display: block;
            }

            .#{$namespace}-arrow {
                display: none;
            }
        }
    }



    .#{$namespace}-dropdown {
        margin-top: 2px;
        min-width: 100%;
        border-radius: 4px;
        box-shadow: 0 9px 16px 8px rgba(0, 0, 0, 0.03), 0 6px 10px 0 rgba(0, 0, 0, 0.06), 0 3px 6px -3px rgba(0, 0, 0, 0.12);
        background: $--color-white;

        overflow: hidden;

        display: none;

        top: 100%;
        position: absolute;
        z-index: 66;


        @at-root .#{$namespace}.open & {
            display: block;
        }
    }
}

