/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
.demo-box {
  body {
    font: 12px/1.5 "Roboto", Arial, "Microsoft YaHei", sans-serif;
  }

  hr {
    border: 0 solid #ccc;
    border-top-width: 1px;
    clear: both;
    height: 0;
  }

  a {
    color: $--color-blue;
    text-decoration: none;
  }

  a:hover {
    color: $--color-red;
    text-decoration: none;
  }

  a:active {
    color: $--color-red;
    text-decoration: none;
  }

  /* `Headings
  ----------------------------------------------------------------------------------------------------*/

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }
}

/* `Font Class
----------------------------------------------------------------------------------------------------*/
@include b(text) {
  @include e(color) {
    @include m(default) {
      color: $--color-text-primary;
    }

    @include m(regular) {
      color: $--color-text-regular;
    }

    @include m(secondary) {
      color: $--color-text-secondary;
    }

    @include m(placeholder) {
      color: $--color-text-placeholder;
    }

    @include m(link) {
      color: $--color-blue;
    }

    @include m(success) {
      color: $--color-green;
    }

    @include m(danger) {
      color: $--color-red;
    }

    @include m(warning) {
      color: $--color-yellow;
    }
  }

  @include e(weight) {
    @include m(thin) {
      font-weight: 100;
    }

    @include m(thin-italic) {
      font-weight: 100;
      font-style: italic;
    }

    @include m(light) {
      font-weight: 300;
    }

    @include m(light-italic) {
      font-weight: 300;
      font-style: italic;
    }

    @include m(regular) {
      font-weight: 400;
    }

    @include m(regular-italic) {
      font-weight: 400;
      font-style: italic;
    }

    @include m(medium) {
      font-weight: 500;
    }

    @include m(medium-italic) {
      font-weight: 500;
      font-style: italic;
    }

    @include m(bold) {
      font-weight: 700;
    }

    @include m(bold-italic) {
      font-weight: 700;
      font-style: italic;
    }

    @include m(black) {
      font-weight: 900;
    }

    @include m(black-italic) {
      font-weight: 900;
      font-style: italic;
    }
  }
  @include e(size) {
    @include m(sm) {
      font-size: 12px;
      line-height: 1.5;
    }
    @include m(md) {
      font-size: 14px;
      line-height: 1.5;
    }
    @include m(xl) {
      font-size: 16px;
      line-height: 1.5;
    }
    @include m(xxl) {
      font-size: 18px;
      line-height: 1.5;
    }
    @include m(xxxl) {
      font-size: 22px;
      line-height: 1.3;
    }
    @include m(xxxxl) {
      font-size: 24px;
      line-height: 1.3;
    }
    @include m(xxxxxl) {
      font-size: 36px;
      line-height: 1.2;
    }
    @include m(xxxxxxl) {
      font-size: 48px;
      line-height: 1.1;
    }
  }
}
